<div class="row">
  <div class="small-7 columns">
      <%= render partial: "user_details" %>
    </div>
    <em>Thanks for being a Bread Express customer since <%= @user.created_at.year %>.</em>
</p>
</div>