<div id = "about-body">
    <h1>
        The Faces Behind A&M
    </h1>
    <div id = "alex-mark-pics">
        <%= image_tag 'alex.png'%><%= image_tag 'mark.png'%>
    </div>
    <p>	Hello!<br> We are Alex and Mark Heimann, twins and co-founders of A&M Bread Express Co. A&M is an online bakery that delivers fresh baked goods just like our mom makes at home. We have a wide selection of breads, muffins, and other pastries and we ship all over the country! Guaranteed overnight shipping so you get it fresh the next day!
    </p>
</div>