<div id = "contact-body">
    <div class="row">
        <div class="small-7 columns">
            <h2>Contact Bread Express</h2>
            <p>Have comments, concerns, criticisms, or perhaps compliments? Let us know! </p>
            <p class="supertiny">&nbsp;</p>
            <table cellpadding="3">
                <tr>
                    <td>Address:</td>
                    <td>IS Suite 227<br>
                        5000 Forbes Ave <br>
                        Pittsburgh, PA 15213</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>415-LUV-BRED</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>contact@breadexpress.com</td>
                </tr>
                <tr>
                    <td>Webmaster:</td>
                    <td>
                        <%= mail_to("angelaliu22@gmail.com", "Angela C Liu", :encode => "javascript") %> 
                    </td>
                </tr>
            </table>

                <p>&nbsp;</p>
                <p>&nbsp;</p>
        </div>
    </div>
</div>
