<div class="row customer-show">
  <div class="small-7 columns">
    <%= render partial: "customer_details" %>
  </div>
  <div class="small-5 columns">
      <%= render partial: "partials/index_structure", locals: {model_name: "order", primary: "orders/customer_pending_orders", secondary: "orders/customer_past_orders", sidebar: nil} %>
  </div>
</div>