<%= simple_form_for @order, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
      <legend> Credit Card Information</legend>
        
        <div class="field">
            <%= f.input :credit_card_number %><br />
            <%= f.input :expiration_year %><br />
            <%= f.input :expiration_month %><br />
        </div>

        <br>

    </fieldset>
<% end %>

