<%= simple_form_for @order, html: { class: 'form-horizontal' } do |f| %>
  <fieldset class = "select_order_address">
      <legend> Select an Address</legend>
        
        <div class="field">
            <label>Select an address to ship this order to</label>
            <%= f.collection_select :address_id, Address.active.by_recipient.where(customer_id: @customer_id), :id, :full_address, prompt: "Select an address..." %>
        </div>
        <br>

    </fieldset>
<% end %>

