<div class="row">
  <div class="small-8 columns">
      <%= link_to "Continue Shopping", items_path %>
      <%= link_to "View Cart", cart_path %>
      <%= link_to "Proceed to Checkout", checkout_cart_path %>
  </div>
</div>