<div class = "model-new">
    <h1>New Order</h1>
    <p>Everyone's ordering the standard package these days! It consists of 1 loaf of Honey Wheat, 1 loaf of Cinammon Swirl, 1 loaf of Sourdough Bread and 1 dozen Blueberry Muffins. Sounds delicious doesn't it? So we're gonna go ahead and order that for you too!</p>

    <%= render :partial => "form" %>

    <%= link_to 'Back', orders_path %>
</div>
