<% if @item_price_history.empty? %>
  <p><em>This item does not have any past prices.</em></p>
<% else %>
<h2> Price History</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
        <th>Price</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <% @item_price_history.each do |price| %>
      <tr>
          <td><%= price.start_date %></td>
          <td><%= price.end_date %></td>
          <td><%= price.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<p>&nbsp;</p>