<% if @item_price_history.empty? %>
  <p><em>This item does not have any past prices.</em></p>
<% else %>
<h2> Price History</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
        <th>Price</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <% @item_price_history.each do |price| %>
      <tr>
          <td><%= price.start_date.strftime('%m/%d/%y') %></td>
          <% if price.end_date != nil %>
          <td><%= price.end_date.strftime('%m/%d/%y') %></td>
          <% end %>
          <td><%= number_to_currency price.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @item_price_history, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>
<p>&nbsp;</p>