<% if @active_items.empty? %>
    <p>We're currently not selling any baked goods at the moment :( </p>
<% else %>
  <div class="panel clearfix">
    <h3>Bread Express Goods</h3>
    <ul>
        <% @active_items.each do |item| %>
        <% unless item.picture_url.nil? %>
        <p><%= image_tag item.picture_url %></p>
            <% end %>
        <li><%= link_to item.name, item_path(item) %></li>
      <% end %>
    </ul>
  </div>
<% end %>