<div class = "item-index">
<h1>Bread Express Available Items</h1>
<% if @all_items.empty? %>
    <h3>No active items at this time</h3>
<% else %>
    <%= render :partial => "item_list", locals: {items: @bread_items, type: "Breads"} %>

    <%= render :partial => "item_list", locals: {items: @muffin_items, type: "Muffins"} %>

    <%= render :partial => "item_list", locals: {items: @pastry_items, type: "Pastries"} %>
<% end %>
</div>