#about-body {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
#alex-mark-pics {
    width: 100%;
    margin-top: 50px;
}
#alex-mark-pics img {
    max-height: 300px;
    width: auto;
}
#about-body h1 {
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    width: 100%;
}
#about-body p {
    font-size: 1.5em;
    font-weight: 100;
}