#contact-body {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

#contact-body h1 {
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

#contact-body p {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 100;
}