//#banner img{
//    width: 100%;
//    height: auto;
//}
//
//#home-body {
//    width: 80%;
//    margin: 0 auto;
//    text-align: left;
//}
//#home-body h3 {
//    font-weight: 100;
//}
//#home-body p {
//    font-size: 1.5em;
//}

body {
    background-color: #f9f9f9;
}
.homepage-welcome {
    font-size: 2em;
    font-weight: 200;
}
.homepage {
    padding: 50px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    min-height: 800px;
    text-align: center;
}
.homepage h2 {
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: 200;
}
.homepage p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
}
.homepage .login_or_register {
    border: 2px solid rgb(140,28,35);
    width: 40%;
    margin: 0 auto;
    background-color: white;
}
/*ADMIN HOMEPAGE */
.admin-homepage {
    padding: 50px;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    min-height: 800px;
    text-align: center;
}

.admin-homepage .dash_box {
    width: 200px;
    height: 150px;
    border: 2px solid rgb(140,28,35);
    margin: 10px;
    display: inline-block;
}
.admin-homepage .dash-num {
    font-size: 4em;
    font-weight: 400;
}


/*CUSTOMER HOMEPAGE */
.customer-homepage {
    padding: 50px;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    min-height: 800px;
    text-align: center;
}
.customer-homepage p {
    font-size: 1.2em;
    font-weight: 200;
}
.customer-homepage p b {
    color: rgb(140,28,35);
}
.customer-homepage h2 {
    color: rgb(140,28,35);
}
.customer-homepage h3 {
    padding-bottom: 40px;
}
.blurb {
    font-size: 1.5em;
}
.customer-homepage .blurb {
    width: 60%;
    margin: 0 auto;
}
