#banner img{
    width: 100%;
    height: auto;
}

#home-body {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
#home-body h3 {
    font-weight: 100;
}
#home-body p {
    font-size: 1.5em;
}