.item_category select{
    display: inline;
}
.item-index {
    font-family: 'Roboto';
    margin-top: 50px;
}
.item-index h1 {
    font-size: 2em;
    font-weight: 200;
    text-align: center;
}
.item-list {
    width: 90%;
    background-color: rgba(91,158,233,0.2);
}
.item-list h3 {
    font-weight: 200;
}
.item-object {
    display: inline-block;
    width: 200px;
    height: auto;
    padding: 15px;
}
.items-show {
    padding: 50px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    font-family: 'Roboto';
    font-weight: 200;
}
.item-details h3 {
    font-family: 'Roboto';
    font-size: 2em;
    font-weight: 200;
}
.item-details img {
    max-width: 300px;
    height: auto;
}

.item-price-form fieldset{
    width: 200px;
    background: white;
    border: 2px solid rgb(140,28,35);
}
.related-items {
    background-color: rgba(91,158,233,0.2);
}


.new-item {
    padding: 50px;
    height: 700px;
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
    font-family: 'Roboto';
    font-weight: 200;
}
.new-item  fieldset {
    background-color: white;
}

.new-item .form-actions {
    background-color: white;
    width: 100%;
    margin: 10px;
}

