#privacy-body {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

#privacy-body h1 {
    font-weight: 200;
    font-size: 2em;
}

#privacy-body p {
    margin-top: 50px;
    font-size: 1.5em;
    font-weight: 100;
}